@import '~purecss-sass';

body {
  font-family: 'Fjalla One', sans-serif;
}

#app {
  background: url('../assets/images/berlin2.jpg') no-repeat bottom;
}

.jsl-avatar {
  border-radius: 80%;
  border: solid black;
  background-image: url('../assets/images/lorenc.jpg');
}

.jsl-avatar:hover {
  animation: circus 2s;
}

@keyframes circus {

  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
    border-color: red;
  }

  70% {
    border: dotted blue;
  }

  to {
    transform: rotate(-720deg);
  }
}
