@import '~purecss-sass';

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
  font-family: 'Fjalla One', sans-serif;
}

#footer {
   background: url('../assets/images/berlin1.png') top;
   max-width: 100%;
   min-height: 100px;
}

.list-social {
  text-align: center;
  a: hover,a:visited,a:link,a:active{
    text-decoration: none;
  color: WindowText;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
li{
  padding: 2%;
}

}

.jsl-avatar {
  border-radius: 80%;
  border: solid black;
  background-image: url('../assets/images/lorenc.jpg');
}

.jsl-avatar:hover {
  animation: circus 2s;
}

@keyframes circus {

  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
    border-color: red;
  }

  70% {
    border: dotted blue;
  }

  to {
    transform: rotate(-720deg);
  }
}

.utils-top-margin-5 {
  margin-top: 5%;
}

.utils-top-margin-10 {
  margin-top: 10%;
}

.utils-top-margin-15 {
  margin-top: 15%;
}

.utils-top-margin-25 {
  margin-top: 25%;
}

.utils-top-margin-20 {
  margin-top: 20%;
}
